@import url('https://fonts.googleapis.com/css2? family= Baile+Script & family= Kaushan+Script & family= Lato:wght@100 & family= Pacifico & family= Petit+Formal+ Script & family= Quicksand:wght@500 & family= Rubik+Dirt & family= Share+Tech+Mono & display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-style: 
    font-family: 'archivo', sans-serif;
    --color-green:#8fc03b;
    --color-pink:#f9a6ff;
    --color-yellow:#ffde00;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

body.yellow{
    background-color: var(--color-yellow);
    color: black;
}

body.pink{
    background-color: var(--color-pink);
    color: black;
}

body.green{
    background-color: var(--color-green);
    color: black;
}




/*HEADER*/

header{
    height: 100px;
    background-color:black ;
    display: flex;

}
.header_nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width:80% ;
    margin: auto;
    align-items: center;
}
.header_nav a{
    color: white;
}
.logo{
    height: 87px;
    width: 182px;
}
.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav_list a{
    font-family: var(--font-style);
    transition:200ms ease-in-out ;
}
.nav_list a:hover{
    color: var(--color-green)
}
/* SECCTION */

section{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 4FR 4FR 1FR;
}
.info h2{ font-size: 7rem;
    font-family: 'Roboto', sans-serif;

}
.info p{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif; 
}
.myButton {
	background-color:#1d1e1d;
	border-radius:28px;
	border:1px solid #0e100e;
	display:inline-block;
	cursor:pointer;
	color:#784c4c;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-top: 30px;
    font-family:  var(--font-style);
}
.myButton:hover {
	background-color:#dae9da;
}
.myButton:active {
	position:relative;
	top:1px;
}
.imagen.pink{ 
    height:600px;
    background-image: url(images/guante1.png);
    background-size: contain;
background-repeat: no-repeat;
background-position: center;
display: flex;
justify-content: center;
align-items: center;

}
.imagen.yellow{ 
    height:600px;
    background-image: url(images/guante2.png);
    background-size: contain;
background-repeat: no-repeat;
background-position: center;
display: flex;
justify-content: center;
align-items: center;

}
.imagen.green{ 
    height:600px;
    background-image: url(images/guante3.png);
    background-size: contain;
background-repeat: no-repeat;
background-position: center;
display: flex;
justify-content: center;
align-items: center;

}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  

}
.instagram{height: 50px;
    width: 50px;
    background-image: url(/images/instagram1.png);
    background-size: contain;

}
.facebok{height: 50px;
    width: 50px;
    background-image: url(/images/pin.jpg);
    background-size: contain;
  }

    .tiktok{height: 50px;
        width: 50px;
        background-image: url(/images/ti.jpg);
        background-size: contain;  }

        /*buttom*/
        .bottom{
            height: 10%;
            display: flex;
            width: 30%;
            margin: auto;
            justify-content: center;
            gap: 3%;
        }
        .producto-1,  .producto-2, .producto-3{
            cursor: pointer;
            transition:400ms ease-in-out ;
        }
        .producto-1:hover,  .producto-2:hover, .producto-3:hover{
            transform: translateY(-30px);

        }
       



 